@charset 'utf-8';
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
ul,
ol,
li {
	list-style: none;
}
a {
	text-decoration: none;
}

body {
	background-color: #292929;
	min-height: 200vh;
}

header {
	width: 100%;
	position: fixed;
	transition: 0.5s;
	overflow: hidden;
	&.on {
		background-color: #eee;
		.inner {
			h1 {
				a {
					img {
						&:nth-of-type(1) {
							transform: translateY(100px);
						}
						&:nth-of-type(2) {
							transform: translateY(0px);
						}
					}
				}
			}
			#gnb {
				li {
					a {
						transform: translateY(-100px);
					}
					i {
						transform: translateY(0px);
					}
				}
			}
		}
	}
	.inner {
		width: 1200px;
		height: 100px;
		margin: 0 auto;
		display: flex;
		h1 {
			flex: 2;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			a {
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -20px;
					margin-left: -100px;
					transition: 0.5s;
					&:nth-of-type(2) {
						position: absolute;
						transform: translateY(-100px);
					}
				}
			}
		}
		#gnb {
			flex: 4.5;
			top: 50px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 7;
			> li {
				// float: left;
				width: 150px;
				position: relative;
				a {
					display: block;
					width: 100%;
					height: 50px;
					font: bold 25px/50px 'arial';
					color: #fff;
					transition: 0.5s;
				}
				&:hover {
					> a {
						background-color: #eee;
						color: #fff;
					}
				}
				i {
					position: absolute;
					top: 50%;
					left: 50%;
					font-size: 40px;
					margin-top: -20px;
					margin-left: -20px;
					transform: translateY(-100px);
				}
			}
		}
	}
}
